.document {
    font-family: "Roboto Slab", serif;
  }
  h1 {
    font-weight: 400px;
    text-transform:capitalize;
  }
  .card {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  button {
    background: none;
    border: none;
    color: black;
    padding: 0px;
  }
  .current-city {
    font-size: 40px;
  }
  .today {
    font-size: 20px;
    display: inline;
  }
  .time {
    font-size: 15px;
    display: block;
  }
  .windspeed {
    padding-bottom: 10px
  }
  .current-weather {
    font-size: 35px;
  }
  .current-icon {
    width: 37px
  }
  .note {
    padding: 10px, 10px;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: rgba(211, 211, 211, 0.6);
    border-radius: 15px;
    text-transform:capitalize;
  }
  .details {
    padding: 10px;
    font-size: 20px;
  }

  .open {
      display: block;
      text-align: center;
  }
  